[submodule "clipboard"]
	path = clipboard
	url = https://github.com/yglukhov/clipboard.git
[submodule "ADLCore"]
	path = ADLCore
	url = https://github.com/vrienstudios/ADLCore.git
[submodule "nim-epub"]
	path = nim-epub
	url = https://github.com/ShujianDou/nim-epub.git
